<h2>Python Variables are locations in memory in order to store data.</h2>

In [1]:
#Python Variables
a = 3;
b=5.5
c="ML"
print(a,b,c)

3 5.5 ML

In [2]:
#Python Multiple Assignments
a,b,c = 1,2,3;
print(a,b,c)
#Assigning same value to different variables
a = b = c = "LLMs"
print(a,b,c)

1 2 3
LLMs LLMs LLMs

In [3]:
x = 3
print(id(x))

4363199744

In [4]:
y = 3
print(id(y))

4363199744

In [5]:
y= 2
print(id(y))

4363199712

<h3>Python Datatypes:</h3>
<h5>Numbers : </h5>
<p>Integers, Floating point Numbers and Complex Numbers falls under Python Numbers Category. They are divided as int float and complex class in Python.</p>

In [6]:
a = 5;
print(type(a))

<class 'int'>

In [7]:
n=3.4
print(type(n))

<class 'float'>

In [8]:
a=1+2j
print(type(a),a," is complex number ?")
print(isinstance(a, complex))

<class 'complex'> (1+2j)  is complex number ?
True

<h3>Booleans</h3>
<p>Boolean values are True and False</p>

In [9]:
a = True;
print(type(a))

<class 'bool'>

<h3>Python Strings</h3>
<p>Strings can include any number boolean or anyother data type and are enclosed with single or double quotes '' (or) "" . And the first character index starts with 0.</p>

In [10]:
a = 'Python String can have anything in them.'
type(a)

str

In [11]:
a[0]

'P'

In [12]:
a[-1]

'.'

In [13]:
a[1:]

'ython String can have anything in them.'

<h3>Python Lists</h3>

In [14]:
list = [1,a,'Bro', 8.9]
print(list)
list[0]= 2
print(list)

[1, 'Python String can have anything in them.', 'Bro', 8.9]
[2, 'Python String can have anything in them.', 'Bro', 8.9]

<h3>Python Tuples</h3>

In [15]:
tuples = (a,2,4)
print(tuples[1])
print('Tuples are immuntable.')

2
Tuples are immuntable.

<h3>Python Sets</h3>

In [16]:
set = {10,20,30,30,30,40,50}
print(set)
print(len(set))
print('Sets are unordered and cannot be indexed.')

{50, 20, 40, 10, 30}
5
Sets are unordered and cannot be indexed.

<h3>Python Dictionaries<h3>

In [17]:
dictionary = {a:'apple', b:'batman'}
print(dictionary[a])

apple

<h3>Conversion between Datatypes </h3>

In [18]:
float(2)

2.0

In [19]:
int(22.0)

22

In [20]:
str(100)

'100'

In [21]:
user = 'Navya'
count = 1000
print('Congratulations ' + user + " ! You have done " +str(count) + ' times of work.' )

Congratulations Navya ! You have done 1000 times of work.

In [22]:
a = [1, 2, 2, 3, 3, 4]   # Original list with duplicate elements
sett = set(a)
print(sett)

TypeError: 'set' object is not callable

In [23]:
a = 'APPLE'
list(a)

TypeError: 'list' object is not callable