<h2>Sets</h2>
<p>They are unordered and can be mutable, typically used for mathematical operations like, union, intersection.</p>

In [4]:
#set of integers
s = {1,2,3,4,5}
print(s)
print(type(s))

{1, 2, 3, 4, 5}
<class 'set'>

In [6]:
#set does not allow duplicates
s={1,2,3,4,1,2,1}
print(type(s))

<class 'set'>

In [12]:
#we can make sets from a list.
s = [1,2,3,4]
a = set(s)
print(a)

{1, 2, 3, 4}

In [15]:
#an empty set can be created using set.
l = set()
print(type(l))

<class 'set'>

In [16]:
#sets cannot be indexed as they are unordered.
s={1,3}
s[1]

TypeError: 'set' object is not subscriptable

In [18]:
#add single elements using add
s.add(4)
print(s)

{1, 3, 4}

In [21]:
#add list with another set.
list=[1,2,3]
s.update(list)
print(s)
s.update([11,12,34,45],{421,465,72})
print(s)

{1, 2, 3, 4}
{1, 2, 3, 4, 34, 421, 72, 11, 12, 45, 465}

In [22]:
s={1,2,3,4,56,7,8,9}
s.discard(3)
print(s)
s.remove(8)
print(s)

{1, 2, 4, 7, 8, 9, 56}
{1, 2, 4, 7, 9, 56}

In [23]:
s.discard(72)
print(s)

{1, 2, 4, 7, 9, 56}

In [27]:
#pop() removes a random number and catches that number.
s={1,2,3,4,56,7,8,9}
a = s.pop()
a

1

In [29]:
#clear() removes entire set
s={1,2,3,4,56,7,8,9}
s.clear()
s

set()

In [30]:
#union of sets can be done using two ways. by using | or by using union()

s={1,2,3,4,56,7,8,9}
m={11,121,13,14,516,17,18,91}
a = s|m
a

{1, 2, 3, 4, 7, 8, 9, 11, 13, 14, 17, 18, 56, 91, 121, 516}

In [31]:
s={1,2,3,4,56,7,8,9}
m={11,121,13,14,516,17,18,91}
a = s.union(m)
a

{1, 2, 3, 4, 7, 8, 9, 11, 13, 14, 17, 18, 56, 91, 121, 516}

In [32]:
#intersection of two sets can be done using & and intersection()
s={1,2,3,4,56,7,8,9}
m={11,121,3,14,56,7,18,91}
b = s&m
b

{3, 7, 56}

In [34]:
s={1,2,3,4,56,7,8,9}
m={11,121,3,14,56,7,18,91}
b = s.intersection(m)
b

{3, 7, 56}

In [35]:
#set difference is set of elements that are present in set1 not in set2
s={1,2,3,4,56,7,8,9}
m={11,121,3,14,56,7,18,91}
b = s-m
b

{1, 2, 4, 8, 9}

In [36]:
s={1,2,3,4,56,7,8,9}
m={11,121,3,14,56,7,18,91}
b = s.difference(m)
b

{1, 2, 4, 8, 9}

In [37]:
#symmetric difference is the set in which all the common elements in both the sets are excluded.
s={1,2,3,4,56,7,8,9}
m={11,121,3,14,56,7,18,91}
b = s^m
b

{1, 2, 4, 8, 9, 11, 14, 18, 91, 121}

In [39]:
s={1,2,3,4,56,7,8,9}
m={11,121,3,14,56,7,18,91}
b = s.symmetric_difference(m)
b

{1, 2, 4, 8, 9, 11, 14, 18, 91, 121}

In [43]:
#subsets are the sets that are part of a set.
s={1,7,8,9}
m={1,121,3,14,56,7,8,18,9,81}
print(s.issubset(m))
print(m.issubset(s))

True
False

In [44]:
#frozen sets are immutable
s = frozenset([1,2,3])
s

frozenset({1, 2, 3})